[Desktop Entry]
Exec=kitty -T Terminal
Name=kitty -T Terminal
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
