[Desktop Entry]
Exec=mediacontrol next
Name=mediacontrol next
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
