[Desktop Entry]
Exec=mediacontrol playpause
Name=mediacontrol playpause
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
