/* rofi -dump-config */
configuration {
	modi: "window,run,combi,usr:rofi_run_custom_list";
	font: "Source Code Pro Medium 11";
	terminal: "konsole";
	combi-modi: "window,usr,run";
	window-format: "{L} {O} {L} {c} {t}";
	display-window: "win";
	display-run: "run";
	display-combi: ":";
	kb-cancel: "Escape,Control+c,Super+space";
}

@theme "~/.config/rofi/theme.rasi"
