[Desktop Entry]
Exec=mediacontrol prev
Name=mediacontrol prev
NoDisplay=true
StartupNotify=false
Type=Application
X-KDE-GlobalAccel-CommandShortcut=true
